<!doctype html>
<!--
    Tangram: real-time WebGL rendering for OpenStreetMap
    http://github.com/tangrams/tangram
    http://mapzen.com
-->
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Simple demo – Tangram</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

    <style>
        body {
            margin: 0px;
            border: 0px;
            padding: 0px;
        }
        #map {
            height: 100%;
            width: 100%;
            position: absolute;
        }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <!-- leaflet -->
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

    <!-- Main tangram library -->
    <script src="https://unpkg.com/tangram/dist/tangram.min.js"></script>

    <!-- Demo setup -->
    <script>
      
        var map = L.map('map');
        var layer = Tangram.leafletLayer({
            scene: 'scene.yaml',
            attribution: '<a href="https://mapzen.com/tangram" target="_blank">Tangram</a> | &copy; OSM contributors | <a href="https://mapzen.com/" target="_blank">Mapzen</a>'
        });
        layer.addTo(map);
        map.setView([40.70531887544228, -74.00976419448853], 15);
    </script>

  </body>
</html>